/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GLOBAL GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[WT:Gadget]] before editing. |
 * |_____________________________________________________________________________|
 * 
 * Imported from version 0.0.1 as of 2019-11-04 from [[:en:MediaWiki:Gadget-scribe.js]]
 * Using this script allows you to edit articles in underrepresented wikipedias, see [[User:Eugene233/scribe]]
 */

.ve-scribe-ref-box {
	height: 70px;
	background-color: white;
	padding: 30px 0 10px 0;
	width: 94%;
	position: relative;
	margin-bottom: 0.5px;
	text-align: left;
	display: grid;
}

.tags-container{
	overflow: auto;
    display: inline-flex;
    margin-left: inherit;
}

.ve-scribe-ref-title {
	font-size: 12px;
	margin: -16px 0 7px 5px;
	height: 1em;
	line-height: 1em;
	font-weight: bold;
	white-space: pre-wrap;
	overflow: hidden;
}

.ve-scribe-ref-link {
	margin: -9px 0 0 5px;
	overflow: hidden;
	line-height: 2em;
	font-size: 12px;
	white-space: pre;
}

.ve-scribe-ref-text {
	text-overflow: hidden;
	text-overflow: ellipsis;
	height: 3em;
	font-size: 9.5px;
	line-height: 1.5em;
	white-space: pre-wrap;
	overflow: hidden;
	padding-left: 6px;
	margin-bottom: 1.5%;
}

#ve-scribe-choose-ref {
	text-transform: uppercase;
	margin: 6px 0 0 45%;
	color: #1c5eb0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}


/*STYLING FOR THE SLIDER */
.slideshow-container {
	position: relative;
	height: 145px;
	background-color: #e6e9ee;
	width: 100%;
	margin-top: 29px;
}

.ve-scribe-slider-text {
	font-size: 15px;
	padding: 8px 12px;
	bottom: 8px;
	width: inherit;
	text-align: center;
	margin-left: 5%;
}

#ve-scribe-cancel-ref-suggest {
	float: right;
	font-weight: bold;
	position: relative;
	margin-top: -180px;
}

#ve-scribe-cancel-ref-suggest:hover {
	text-decoration: none;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: 27px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	z-index: 1;
}

.prev:hover, .next:hover {
    text-decoration: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.active,
.dot:hover {
	background-color: #717171;
}

#ve-scribe-sm-header{
    background-color: #eaecf0;
	text-align: center;
	display: inline-grid;
	padding-left: 5px;
	padding-top: 10px;
	height: inherit;
}

.tags {
    list-style: none;
	float: left;
	margin: 4px 0 0 2px;
}

.tags li {
    float: left;
}

a.tag{
	text-decoration: none;
}

a.tag:hover {
	text-decoration: none;
}

a.tag:visited {
	color: black;
}

.tag {
    background-color: #c8ccd1;
    border-radius: 10px;
    display: inline-block;
    height: 26px;
    color: black;
    line-height: 26px;
    padding: 0 20px 1px 20px;
    position: relative;
    text-decoration: none;
	margin: 10px 10px 10px 0;
	width: max-content;
}

.ve-scribe-sm-suggest-text{
	font-weight: bold;
	padding: 2px;
	color: black;
}

#ve-scribe-sm-idea-label{
	text-align: left;
}

#ve-scribe-header-tip-icon{
	float: left;
	margin-top: -5px;
	position: relative;
}

.editing-tip{
	padding: 5px 0 5px 0;
	border-radius: 6px;
	background-color: #c8ccd1;
}

#editing-ideas-tip{
    float: left;
    padding: 1px 0 1px 0;
    margin-top: -4.5px;
    border-radius: 6px;
    background-color: #c8ccd1;
}

a.ve-scribe-sm-suggest-text:hover {
	text-decoration: none;
}

.active-seection{
	background-color: #b6cde8;
}
.oo-ui-iconElement-icon .oo-ui-icon-bell{
	font-size: 0.1%;
	margin: 30% 0 0 -18%;
}

#ve-scribe-hide-header-icon{
	position: inherit;
	cursor: pointer;
	float: right;
	margin-right: 20px;
}

#ve-scribe-hide-header-icon:hover {
	background-color: white;
}

#ve-scribe-show-header-icon {
	position: inherit;
    float: right;
    cursor: pointer;
    margin-right: 20px;
    font-size: smaller;
}


#ve-scribe-show-header-icon > p {
	float: right;
    position: inherit;
    font-weight: bold;
    margin-right: 13px;
}

.ve-scribe-ref-domain-data{
	padding: 0 10px 0 0;
	margin: -4px 5px -14px 5px;
	font-size: 11px;
	white-space: pre;
	font-weight: bold;
	overflow: scroll;
}

